body > * {
  position: absolute;
}
body:not(.editors) {
  font-family: sans-serif;
}
#indexhtml {
  top: 70px;
  width: 500px;
  height: 400px;
}
#run {
  top: 10px;
  left: 500px;
  color: lightgreen;
  background-color: darkgreen;
  border-radius: 12px;
  width: 75px;
  height: 50px; 
}
#run:hover {
  cursor: pointer;
  color: darkgreen;
  background-color: #00d600;
}
#result {
  top: 75px;
  left: 550px;
  width: 500px;
  height: 400px;
}
.g-signin2 {
  top: 500px;
}
#savebtn {
  top: 35px;
}