:root {
  --workspace: 200px;
  --whgt: 550px;
}
body > * {
  position: absolute;
}
body:not(.editors) {
  font-family: sans-serif;
}
#indexhtml {
  top: 70px;
  left: var(--workspace);
  width: 500px;
  height: var(--whgt);
  font-size: 14px;
}
#run {
  top: 10px;
  left: calc(500px + var(--workspace));
  color: lightgreen;
  background-color: darkgreen;
  border-radius: 12px;
  width: 75px;
  height: 50px; 
}
#run:hover {
  cursor: pointer;
  color: darkgreen;
  background-color: #00d600;
}
#result {
  top: 75px;
  left: calc(550px + var(--workspace));
  width: 500px;
  height: var(--whgt);
}
.g-signin2 {
  top: 500px;
}
#savebtn {
  top: 35px;
}
#save-cr {
  left: 125px;
}
#opennewtab {
  top: 54px;
  left: calc(939px + var(--workspace));
}
#filename {
  top: 42px;
  left: calc(10px + var(--workspace));
}
#sidebar {
  top: 78px;
}
#sidebar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul > li > button {
  width: calc(var(--workspace) - 10px);
}